<div class="TB-Chat">
    <div class="Chat-Opciones">
        <div class="button-image">
            <img src="https://uploads-ssl.webflow.com/5d76a08f5b3233862c8245c2/5da6168351a4262a7dfdee1d_meta-webclip.png" alt="">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
            <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
            <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
    </div>
    <div class="Equipo-Profile">
        <div class="portada">
            <img src="https://images8.alphacoders.com/380/380531.jpg" alt="">
        </div>
        <div class="picture">
            <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/rubick_arcana/finger_of_death.png" alt="">
        </div>
        <div class="minidetails">
            <div class="md-tag">ELAD</div>
            <div class="md-tamaño">55/31</div>
            <div class="md-nacionalidad">PERU</div>
            <div class="button-soli">Enviar Solicitud</div>
        </div>

        <div class="bodyProfile">
            <div class="bp-left">
                <div class="nombre">
                    Black Ops Gaming
                </div>
            </div>
            <div class="administrador">
                <div class="portrait"></div>
                <div class="adm-img">
                    <img src="https://up.quizlet.com/1carcd-qGup4-256s.jpg" alt="">
                </div>
                <div class="adm-title">
                    <h3>Rika Furude</h3>
                    Administrador
                </div>
                <div class="adm-content"></div>
                
            </div>
        </div>

    </div>
</div>