<div class="TB-Chat">
    <div class="Chat-Opciones">
    </div>
    <div class="Chat-Participantes">
        <div class="Chat-Title">
            # Team AEA
        </div>
        <div class="Seccion-Participantes">
            <div class="Chat-Participante">
                <img src="https://c-cl.cdn.smule.com/rs-s24/arr/13/0c/cea61b12-6324-4aa9-b6a4-c90592eb4d90.jpg"
                    alt="">
                Vladimir
            </div>
            <div class="Chat-Participante">
                <img src="https://c-cl.cdn.smule.com/rs-s24/arr/13/0c/cea61b12-6324-4aa9-b6a4-c90592eb4d90.jpg"
                    alt="">
                Vladimir
            </div>
            <div class="Chat-Participante">
                <img src="https://c-cl.cdn.smule.com/rs-s24/arr/13/0c/cea61b12-6324-4aa9-b6a4-c90592eb4d90.jpg"
                    alt="">
                Vladimir
            </div>
        </div>
    </div>
    <div class="Chat-Content">
        <div class="Chat-Channel">
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Player?
                    </div>
                    <div class="Mensaje-Contenido">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, alias debitis. 
                        Quod, minus molestias architecto beatae nobis dolore a provident
                         repudiandae? Sequi, perspiciatis exercitationem doloremque quisquam inventore necessitatibus error nostrum.
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Player77
                    </div>
                    <div class="Mensaje-Contenido">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, alias debitis. 
                        Quod, minus molestias architecto beatae nobis dolore a provident
                         repudiandae? Sequi, perspiciatis exercitationem doloremque quisquam inventore necessitatibus error nostrum.
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Player6
                    </div>
                    <div class="Mensaje-Contenido">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, alias debitis. 
                        Quod, minus molestias architecto beatae nobis dolore a provident
                         repudiandae? Sequi, perspiciatis exercitationem doloremque quisquam inventore necessitatibus error nostrum.
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Player3
                    </div>
                    <div class="Mensaje-Contenido">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, alias debitis. 
                        Quod, minus molestias architecto beatae nobis dolore a provident
                         repudiandae? Sequi, perspiciatis exercitationem doloremque quisquam inventore necessitatibus error nostrum.
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Player2
                    </div>
                    <div class="Mensaje-Contenido">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, alias debitis. 
                        Quod, minus molestias architecto beatae nobis dolore a provident
                         repudiandae? Sequi, perspiciatis exercitationem doloremque quisquam inventore necessitatibus error nostrum.
                    </div>
                </div>
            </div>
        </div>
        <div class="Chat-Input">
            <div class="Chat-Decorator">
                <input class="Chat-area" type="text" placeholder="Ingresa un mensaje aqui...">
            </div>
        </div>
    </div>
</div>