<div class="TB-Chat">
    <div class="Chat-Opciones">
    </div>
    <div class="Chat-Participantes">
        <div class="Chat-Title">
            # Team AEA
        </div>
        <div class="Seccion-Participantes">
            <div class="Chat-Participante">
                <img src="https://c-cl.cdn.smule.com/rs-s24/arr/13/0c/cea61b12-6324-4aa9-b6a4-c90592eb4d90.jpg"
                    alt="">
                Vladimir
            </div>
            <div class="Chat-Participante">
                <img src="https://c-cl.cdn.smule.com/rs-s24/arr/13/0c/cea61b12-6324-4aa9-b6a4-c90592eb4d90.jpg"
                    alt="">
                Vladimir
            </div>
            <div class="Chat-Participante">
                <img src="https://c-cl.cdn.smule.com/rs-s24/arr/13/0c/cea61b12-6324-4aa9-b6a4-c90592eb4d90.jpg"
                    alt="">
                Vladimir
            </div>
        </div>
    </div>
    <div class="Chat-Content">
        <div class="Chat-Channel">
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Guztavito
                    </div>
                    <div class="Mensaje-Contenido">
                        El paralelismo de verdad fue el mejor detalle all in all Anyway; esperando a ver
                        que trae el tataridamashi de sotsu. Cristo quiera y Lambdadelta sea salvada de ser
                        retroactivamente arruinada No digo satoko porque too late for her lmao
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Guztavito
                    </div>
                    <div class="Mensaje-Contenido">
                        El paralelismo de verdad fue el mejor detalle all in all Anyway; esperando a ver
                        que trae el tataridamashi de sotsu. Cristo quiera y Lambdadelta sea salvada de ser
                        retroactivamente arruinada No digo satoko porque too late for her lmao
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Guztavito
                    </div>
                    <div class="Mensaje-Contenido">
                        El paralelismo de verdad fue el mejor detalle all in all Anyway; esperando a ver
                        que trae el tataridamashi de sotsu. Cristo quiera y Lambdadelta sea salvada de ser
                        retroactivamente arruinada No digo satoko porque too late for her lmao
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Guztavito
                    </div>
                    <div class="Mensaje-Contenido">
                        El paralelismo de verdad fue el mejor detalle all in all Anyway; esperando a ver
                        que trae el tataridamashi de sotsu. Cristo quiera y Lambdadelta sea salvada de ser
                        retroactivamente arruinada No digo satoko porque too late for her lmao
                    </div>
                </div>
            </div>
            <div class="Chat-Mensaje">
                <img src="https://c-cl.cdn.smule.com/rs-s50/arr/f7/3d/3943a2e2-53b2-47e5-a77f-4bb1cb2c384c.jpg"
                    alt="">
                <div class="Mensaje">
                    <div class="Mensaje-Nombre">
                        Guztavito
                    </div>
                    <div class="Mensaje-Contenido">
                        El paralelismo de verdad fue el mejor detalle all in all Anyway; esperando a ver
                        que trae el tataridamashi de sotsu. Cristo quiera y Lambdadelta sea salvada de ser
                        retroactivamente arruinada No digo satoko porque too late for her lmao
                    </div>
                </div>
            </div>
        </div>
        <div class="Chat-Input">
            <div class="Chat-Decorator">
                <input class="Chat-area" type="text" placeholder="Ingresa un mensaje aqui...">
            </div>
        </div>
    </div>
</div>