<div class="login-block">
  <div class="login">
    <div class="login-left">
      <h2>¡Hola de nuevo!</h2>
      <p>¡Nos alegramos mucho de volver a verte!</p>
      <label for="">CORREO ELECTRONICO O NÚMERO DE TELEFONO</label>
      <input type="text" [(ngModel)]="usuario.username"><br>
      <label for="">CONTRASEÑA</label>
      <input type="password" [(ngModel)]="usuario.password">
      <a href="">¿Has olvidado la contraseña?</a>
      <button (click)="login()" type="submit">Iniciar Sesion</button>
      <p>¿Necesitas una cuenta?<a routerLink="/register">Registrate</a></p>
    </div>
    <div class="login-right">
      <img src="https://i.pinimg.com/originals/d2/72/a7/d272a7c8e5130b1eda153150c1e09100.jpg" alt="">
    </div>
  </div>
</div>