<div class="Equipos">
    <div class="flex-Table">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">TAG DE EQUIPO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">PROPIETARIO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams" (click)="clickEquipo()">
                <th scope="row">1</th>
                <td>{{team.acronimo}}</td>
                <td>{{team.nombre}}</td>
                <td>{{team.propietario.nickname}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
