    <div class="MULTI-BAR-addButton">
        <img class="image-friend" height="30" width="auto"
            src="https://flaticons.net/icon.php?slug_category=application&slug_icon=group-add" alt="">
        Agregar amigo
    </div>
    <div class="TB-bar-friend" (click)="clickFriend()">
        <img class="image-friend" height="30" width="auto"
            src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        Friend1
    </div>
    <div class="TB-bar-friend" (click)="clickFriend()">
        <img class="image-friend" height="30" width="auto"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvRjEIbel4gx14LoJbGbooA4Ezq3BaI0iZlg&usqp=CAU"
            alt="">
        Friend2
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        Friend3
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW3RbxQwTsUvoZ-Op8srsiFwDMBmV3KSP53w&usqp=CAU"
            alt="">
        Hanyu
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        Vladimir
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        Vladimir
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9yK8djKF-wRGMew01mh6h6eYbB5XKZH6sew&usqp=CAU"
            alt="">
        Vladimir
    </div>
    <div class="TB-bar-friend">
        <div class="prof-container">
            <span class="circleStatus"></span>
            <img class="image-friend" height="30" width="auto"
                src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        </div>
        Vladimir
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        Vladimir
    </div>
    <div class="TB-bar-friend">
        <img class="image-friend" height="30" width="auto"
            src="https://i.pinimg.com/736x/2c/c1/5f/2cc15f2de32ba230987247a027a900f3.jpg" alt="">
        Vladimir
    </div>