<div class="MULTI-BAR-addButton">
    <img class="image-friend" height="30" width="auto"
        src="https://flaticons.net/icon.php?slug_category=application&slug_icon=group-add" alt="">
    Nuevo Clan
</div>
<div class="MULTI-BAR-clan">
    <img class="image-clan" height="30" width="auto"
        src="https://pbs.twimg.com/profile_images/667794242014568449/U4E_UnyC_400x400.png" alt="">
    CSGO
</div>
<div class="MULTI-BAR-clan">
    <img class="image-clan" height="30" width="auto"
        src="https://pbs.twimg.com/profile_images/667794242014568449/U4E_UnyC_400x400.png" alt="">
    NAVI
</div>
<div class="MULTI-BAR-clan">
    <img class="image-clan" height="30" width="auto"
        src="https://pbs.twimg.com/profile_images/667794242014568449/U4E_UnyC_400x400.png" alt="">
    ALLI
</div>
<div class="MULTI-BAR-clan">
    <img class="image-clan" height="30" width="auto"
        src="https://pbs.twimg.com/profile_images/667794242014568449/U4E_UnyC_400x400.png" alt="">
    DUID
</div>